nav {
  .navbar-brand {
    letter-spacing: 5px;
  }
  ul li a {
    font-weight: bold;
    text-transform: uppercase;
  }
}
img.slider_img {
  width: 100%;
  height: 500px;
}
.card-header {
  letter-spacing: 6px;
  font-size: 20px;
  font-weight: bold;
}
.list-group-item {
  font-size: 15px !important;
}
iframe#gmap_canvas {
  width: 100%;
  min-height: 350px;
}
.footer {
  margin-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.03);
  color: green;
  text-align: center;
  border: 1px solid black;
}
